*pyc
Data/download.wget
*ipynb
Development/*
*.DS_Store
Data/Drangonfly_transmission_spectra/.DS_Store
Data/Drangonfly_transmission_spectra/.DS_Store
Data/Drangonfly_transmission_spectra/.DS_Store
Data/Drangonfly_transmission_spectra/.DS_Store
